$color-primary: #dea215;
$color-secondary: #ecb13b;
$color-brown: #9e7937;
$color-blue: #a7c4ff;

$color-dark: #222;
$color-light: #f8f8f8;
$color-white: #fff;

$color-red: #d31616;
$color-salmon: #f6645c;
$color-salmon-light: #f5938e;

$color-facebook: #2050b3;
$color-instagram: #e1306c;
$color-pinterest: #e60023;
