.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    border-radius: 1.5rem;
    border: none;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    will-change: transform;
    box-shadow: 0.2rem 0.6rem 1rem rgba($color-dark, 0.15);

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0.2rem 1.2rem 1rem rgba($color-dark, 0.15);
    }
  }

  &--black {
    background-color: $color-dark;
    color: $color-white;
  }

  &--yellow {
    background: linear-gradient(to right, $color-primary, $color-secondary);
    color: $color-dark;

    &:after {
      position: absolute;
      background: linear-gradient(to right, $color-primary, $color-brown);
      opacity: 0;
      top: 0;
      left: 0;
      padding: 1.5rem 3rem;
      border-radius: 0.5rem;
      display: inline-flex;
      align-items: center;
      transition: all 0.3s;
    }
  }

  &--book-now::after {
    content: "Book Now";
  }

  &--learn-more::after {
    content: "Learn More";
  }

  &--submit::after {
    content: "Изпрати";
  }

  &:hover:after {
    opacity: 1;
  }

  &:active {
    transform: scale(0.97);
  }
}
