.destination {
  position: relative;
  border-radius: 1.5rem;
  object-fit: cover;
  max-height: 24rem;
  @include respond(tab-port) {
    height: 24rem;
    width: 35rem;
  }

  &:after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1.5rem;
    transition: 0.5s;
    backdrop-filter: blur(1px);
    background-color: rgba($color-primary, 0.25);
  }

  &:hover::after {
    opacity: 1;
  }

  &--item1 {
    grid-column: 1/3;
    grid-row: 1;
    @include respond(tab-port) {
      grid-column: unset;
      grid-row: unset;
    }
  }

  &--item2 {
    max-height: 55rem;
    grid-column: 3;
    grid-row: 1 / 3;
    @include respond(tab-port) {
      grid-row: unset;
      grid-column: unset;
    }
  }

  &:hover &__caption {
    opacity: 1;
    bottom: 2.5rem;
  }

  &__caption {
    opacity: 0;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 2rem;
    font-size: 2rem;
    color: $color-white;
    font-weight: 600;
    z-index: 1;
    transition: 0.5s;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
  }
}
