// .icon--info {
//   margin-right: 1rem;
//   color: $color-primary;
//   font-size: 2rem;
//   padding: 1rem;
//   border: 0.1rem solid $color-primary;
//   border-radius: 50%;
// }

.icon {
  margin-right: 1rem;
  z-index: 0;
  font-size: 2rem;
  position: relative;
  transition: 0.3s;
  color: $color-dark;
  padding: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  &--circle {
    border: 0.2rem solid $color-primary;
    cursor: default;
  }

  // &:not(:last-child) {
  //   margin-right: 3rem;
  // }

  // &:hover {
  //   color: $color-dark;
  // }

  // &::after {
  //   content: "";
  //   @include center;
  //   width: 0;
  //   height: 0;
  //   border-radius: 50%;
  //   transition: all 0.3s;
  //   z-index: -9;
  //   background-color: $color-primary;
  //   width: 3rem;
  //   height: 3rem;
  // }

  // &:hover::after {
  //   width: 3rem;
  //   height: 3rem;
  // }

  // &--pinterest::after {
  //   background-color: $color-pinterest;
  // }
  // &--twitter::after {
  //   background-color: $color-white;
  // }
  // &--instagram::after {
  //   background-color: $color-instagram;
  // }
  &--facebook::after {
    background-color: $color-facebook;
  }
}

.icon-social {
  cursor: pointer;
  font-size: 3rem;
  color: #747474;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $color-dark;
  }
  @include respond(tab-port) {
    display: none !important;
  }
}
